body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #517ddb;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    width: 50%;
    margin: 0 auto;
    background-color: #3cd1ac;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(219, 26, 26, 0.808);
  }
  
  label {
    display: block;
    margin-bottom: 15px;
    color: #333;
  }
  
  input[type="number"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  input[type="button"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="button"]:hover {
    background-color: #555;
  }
  
  #resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #3cd1ac;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow: 0 0 10px rgba(219, 26, 26, 0.808);
  }